/*
Error: Undefined variable: "$font-family-sans-serif".
        on line 32 of sass/vars/_headq_variables.scss
        from line 8 of sass/style.scss

Backtrace:
sass/vars/_headq_variables.scss:32
sass/style.scss:8
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/script/tree/node.rb:58:in `perform'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:472:in `visit_variable'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:329:in `visit_import'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:329:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:329:in `visit_import'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:88:in `with_import'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:171:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:10:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/engine.rb:384:in `_render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/engine.rb:301:in `render_with_sourcemap'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin/compiler.rb:294:in `watch'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin.rb:109:in `send'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/plugin.rb:109:in `method_missing'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/exec/base.rb:52:in `parse'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib64/ruby/gems/1.8/gems/sass-3.4.25/bin/sass:13
/usr/bin/sass:23:in `load'
/usr/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$font-family-sans-serif\".\A         on line 32 of sass/vars/_headq_variables.scss\A         from line 8 of sass/style.scss"; }
