$theme-color: 		#cc562b;
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../fonts/';

$link-hover-color:      #cc562b;
$brand-primary:    #cc562b; 
