$theme-color: 		#4C9D65;
$base-theme-image-path: '../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../fonts/';

$link-hover-color:      #4C9D65;
$brand-primary : #4C9D65;
